<table>
  <thead>
    <tr> 
      <th>Rank</th>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'opp', 'Overall' %></th>
      <th><%= sortable 'hit_percentage', 'Hit %' %></th>
      <th><%= sortable 'shot_count', 'Shots' %></th>
      <th><%= sortable 'points', 'Points' %></th>
      <th><%= sortable 'hit_count', 'Hits' %></th>
      <th><%= sortable 'assholes' %></th>
      <th><%= sortable 'suicides' %></th>
      <th><%= sortable 'wins' %></th>
      <th><%= sortable 'losses' %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each_with_index do |team, i| -%>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to team.name, team %></td>
        <td><strong><%= number_with_precision team.opp %></strong></td>
        <td><strong><%= number_to_percentage team.hit_percentage %></strong></td>
        <td><%= team.shots.count %></td>
        <td><%= team.points %></td>
        <td><%= team.shots.where("cup != 0").count %></td>
        <td><%= team.assholes %></td>
        <td><%= team.suicides %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if can? :manage, Team -%>
  <p><%= link_to "New Team", new_team_path %></p>
<% end -%>



