<div class="grid_16">
<h3>Teams</h3>
<div class="clear"></div>
<div class="grid_4 alpha">
  <h6>Name</h6>
</div>
<div class="grid_3">
  <h6>OPP</h6>
</div>
<div class="grid_3">
  <h6>Points</h6>
</div>
<div class="grid_3">
  <h6>Wins</h6>
</div>
<div class="grid_3 omega">
  <h6>Losses</h6>
</div>
<div class="clear"></div>
<% @teams.each_with_index do |team| %>
  <div class="grid_4 alpha">
    <p>
      <%= link_to team.name, team_path(team) %>
    </p>
  </div>
  <div class="grid_3">
    <p>
      <%=  %>
    </p>
  </div>
  <div class="grid_3">
    <p>
      <%= team.points %>
    </p>
  </div>
  <div class="grid_3">
    <p>
      <%= team.wins %>
    </p>
  </div>
  <div class="grid_3 omega">
    <p>
      <%= team.losses %>
    </p>
  </div>
  <div class="clear"></div>
<% end %>
</div>
