<table>
  <thead>
    <tr> 
      <th>Name</th>
      <th>Hits</th>
      <th>Shots</th>
      <th>Points</th>
      <th>Overall</th>
      <th>Assholes</th>
      <th>Suicides</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| -%>
      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= team.shots.where("cup != 0").count %></td>
        <td><%= team.shots.count %></td>
        <td><%= team.points %></td>
        <td><strong><%= number_with_precision team.opp %></strong></td>
        <td><%= team.players.sum(:assholes) %></td>
        <td><%= team.players.sum(:suicides) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if can? :manage, Team -%>
  <p><%= link_to "New Team", new_team_path %></p>
<% end -%>



