<div class="grid_16">
<p>
  <h3><%= @team.name %></h3>
</p>


<p>
  <% @team.players.each do |player| %>
    <%= link_to player.name, player %><br />
  <% end %>
  <hr />
  <%= RedCloth.new(@team.profile).to_html.html_safe  %>
  <p>
    <% if can? :update, @team %>
      <%= link_to "Edit Team", edit_team_path(@team) %>
    <% end %>
    <% if can? :manage, @team %>
      <%= link_to "Delete Team", team_path(@team), :method => :delete, :confirm => "Are you sure?" %>
    <% end %>
  </p>
</div>
<div class="clear"></div>
<div class="grid_16">
  <div id="game_opp"></div>
</div>
