<p id="notice"><%= notice %></p>

<p>
  <b>Round:</b>
  <%= @shot.round_id %>
</p>

<p>
  <b>Player:</b>
  <%= @shot.player_id %>
</p>

<p>
  <b>Cup:</b>
  <%= @shot.cup %>
</p>


<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
