<p id="notice"><%= notice %></p>

<p>
  <b>Hit count:</b>
  <%= @score.hit_count %>
</p>

<p>
  <b>Point count:</b>
  <%= @score.point_count %>
</p>

<p>
  <b>Shot count:</b>
  <%= @score.shot_count %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
