<% if @round.errors.any? %>
  <div class="error">
    <% @round.errors.full_messages.each do |msg| %>
      <%= msg %><br/>
    <% end %>
  </div>
<% end %>

<%= form_for @game do |f| %>
  <table class="sortable">
    <thead>
      <tr>
        <th>Number</th>
        <th><%= @game.away_players[0].name %></th>
        <th><%= @game.away_players[1].name %></th>
        <th><%= @game.away_players[2].name %></th>
        <th><%= @game.home_players[0].name %></th>
        <th><%= @game.home_players[1].name %></th>
        <th><%= @game.home_players[2].name %></th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :rounds do |round_form| %>
        <%= render 'round_fields', :f => round_form %>
      <% end -%>
    </tbody>
  </table>

  <p>
    <%= link_to_add_fields "Add Round", f, :rounds %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
