<td>
  <%= f.select :cup, [["Miss", 0], 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ["No Shot", ""], ["Suicide", 11]] %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <%= f.hidden_field :player_id, :value => @game.players[i].id %>
  <%= f.hidden_field :team_id, :value => i < 3 ? @game.away.id : @game.home.id %>
</td>
