<div class="grid_16">
  <h3><%= @game.home.name %> at <%= @game.away.name %></h3>
  <div class="grid_4 alpha">
    <h6>Round</h6>
  </div>
  <% @game.players.each_with_index do |p, i| %>
    <div class="grid_2<%= " omega" if i == 5 %>">
    <h6><%= p.name %></h6>
  </div>
  <% end %>
  <div class="clear"></div>
  <% @rounds.each do |round| %>
    <div class="grid_4 alpha">
      <%= link_to round.number, edit_game_round_path(@game, round) %>
    </div>

    <% round.shots.each_with_index do |shot, i| %>
      <div class="grid_2<%= " omega" if i == 5 %>">
        <% if shot.player %>
          <%= shot.cup %>
        <% else %>
          -
        <% end %>
      </div>
    <% end %>
  <div class="clear"></div>
  <% end %>

  <div id="rounds">

  </div>

  <br />
  <% if can? :create, @article %>  
    <%= link_to 'New Round', new_game_round_path(params[:game_id]) %>
  <% end %>

</div>

