<% if @user.errors.any? %>
  <div id="error">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this round from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<h2><%= @user.player.team.blank? ? "Free Agent" : @user.player.team.name %> Player Registration</h2>
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= field_set_tag "Account Details" do %>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username, :class => 'title', disabled: true %>
    </p>
    <p>
      <%= f.label :email, "Email Address" %><br />
      <%= f.email_field :email, :class => 'text', disabled: true %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, :class => 'text' %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %><br />
      <%= f.password_field :password_confirmation, :class => 'text' %>
    </p>
  <% end -%>
  <%= field_set_tag "Player Details" do %>
    <%= f.fields_for :player do |g| -%>
      <p>
        <%= g.label :name, "Real Name" %><br />
        <%= g.text_field :name, :class => 'title', disabled: true %>
      </p>
      <p>
        <%= g.label :avatar %><br />
        <%= g.file_field :avatar %>
        <%= g.hidden_field :team_id %>
      </p>
      <p>
        <%= g.label :profile %><br />
        <%= g.text_area :profile %>
      </p>
    <% end -%>
  <% end -%>
    <p><%= f.submit %></p>
<%= f.hidden_field :invitation_token %>
<% end -%>
