<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being sent:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :sender_id %><br />
    <%= f.text_field :sender_id %>
  </p>
  <p>
    <%= f.label :recipient_email %><br />
    <%= f.text_field :recipient_email %>
  </p>
  <p>
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </p>
  <p>
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
