<table>
  <thead>
    <tr> 
      <th>Time</th>
      <th>Away</th>
      <th>Home</th>
      <th>Rounds</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| -%>
      <tr>
        <td><%= link_to game.time.to_s(:short), game %></td>
        <td><%= link_to game.away.name, team_path(game.away) %></td>
        <td><%= link_to game.home.name, team_path(game.home) %></td>
        <td><%= game.rounds.count %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if can? :manage, Game -%>
  <p><%= link_to "New Game", new_game_path %></p>
<% end -%>
