<h2>
  <%= "#{@game.away.name} at #{@game.home.name}" %>
</h2>
<h4>
  <%= @game.time.to_s(:long) %>
</h4>

<% unless @game.rounds.blank? -%>
<table>
  <thead>
    <tr>
      <th>Round</th>
      <th><%= @game.away_players[0].name %></th>
      <th><%= @game.away_players[1].name %></th>
      <th><%= @game.away_players[2].name %></th>
      <th><%= @game.home_players[0].name %></th>
      <th><%= @game.home_players[1].name %></th>
      <th><%= @game.home_players[2].name %></th>
    </tr>
  </thead>
  <tbody>
    <% @game.rounds.each do |round| -%>
      <tr>
        <td><%= round.number %></td>
        <% round.shots.each do |shot| -%>
          <td><%= render_shot(shot) %></td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
<% end -%>

<% if can? :manage, Round -%>
  <p><%= link_to "Score Game", new_game_round_path(@game) %></p>
<% end -%>
