<table>
  <thead>
    <tr> 
      <th>Rank</th>
      <th>Username</th>
      <th>Hits</th>
      <th>Shots</th>
      <th>Points</th>
      <th>Overall</th>
      <th>Assholes</th>
      <th>Suicides</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, i| -%>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to player.user.username, user_path(player.user) %></td>
        <td><%= player.shots.where("cup != 0").count %></td>
        <td><%= player.shots.count %></td>
        <td><%= player.points %></td>
        <td><strong><%= number_with_precision player.opp %></strong></td>
        <td><%= player.assholes %></td>
        <td><%= player.suicides %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if can? :manage, Player -%>
  <p><%= link_to "New Player", new_player_path %></p>
<% end -%>
