<div class="grid_16">
  <h3>Leaderboard</h3>
  <% if can? :manage, Player %>
    <p>
      <%= link_to "New Player", new_player_path %>
    </p>
  <% end %>

  <div class="grid_6 alpha">
    <h6>Averages</h6>
  </div>
  <div class="grid_2">
    <p><%= number_with_precision Player.average("opp") %></p>
  </div>
  <div class="grid_2">
    <p><%= number_with_precision Player.average("points") %></p>
    <h6></h6>
  </div>
  <div class="grid_6 omega">
    <p><%= number_to_percentage Player.average("hit_percentage") %></p>
  </div>
  <div class="clear"></div>
  <div class="grid_3 alpha">
    <h6><%= sortable "name" %></h6>
  </div>
  <div class="grid_3">
    <h6><%= sortable "teams.name", "Team" %></h6>
  </div>
  <div class="grid_2">
    <h6><%= sortable "opp", "OPP" %></h6>
  </div>
  <div class="grid_2">
    <h6><%= sortable "points" %></h6>
  </div>
  <div class="grid_3">
    <h6><%= sortable "hit_percentage" %></h6>
  </div>
  <div class="grid_3 omega">
    <h6><%= sortable "last_cups", "Last Cups" %></h6>
  </div>
  <div class="clear"></div>
<% @players.each_with_index do |player, i| %>
  <div class="grid_3 alpha">
    <p><%= i + 1 %>. <%= link_to player.name, player %></p>
  </div>
  <div class="grid_3">
    <p>
      <% if player.team %>
        <%= link_to(player.team.name, player.team) %>
      <% else %>
        Free Agent 
      <% end %>
    </p>
  </div>
  <div class="grid_2">
    <p><%= number_with_precision player.opp %></p>
  </div>
  <div class="grid_2">
    <p><%= player.points %></p>
  </div>
 <div class="grid_3">
   <p><%= number_to_percentage(player.hit_percentage) %></p>
  </div> 
  <div class="grid_3 omega">
    <p><%= player.last_cups %></p>
  </div>
<% end %>
</div>
