<div class="grid_16">
  <h3>Leaderboard</h3>
  <% if can? :manage, Player %>
    <p>
      <%= link_to "New Player", new_player_path %>
    </p>
  <% end %>

    <h6>Averages</h6>
    <p><%= number_with_precision Player.average("opp") %></p>
    <p><%= number_with_precision Player.average("points") %></p>
    <h6></h6>
    <p><%= number_to_percentage Player.average("hit_percentage") %></p>
   <div class="clear"></div>
   <table id="hor-zebra" summary="Major League Pong Leaderboard">
   <thead>
  <tr>
    <th scope="col"><%= sortable "name" %></th>
    <th scope="col"><%= sortable "teams.name", "Team" %></th>
    <th scope="col"><%= sortable "opp", "Overall" %></th>
    <th scope="col"><%= sortable "points" %></th>
    <th scope="col"><%= sortable "hit_percentage", "Hits" %></th>
    <th scope="col"><%= sortable "shots_count", "Shots" %></th>
    <th scope="col"><%= sortable "assholes" %></th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
  <div class="clear"></div>
<% @players.each_with_index do |player, i| %>
  <div class="grid_3 alpha">
    <p><%= i + 1 %>. <%= link_to player.name, player %></p>
  </div>
  <div class="grid_3">
    <p>
      <% if player.team %>
        <%= link_to(player.team.name, player.team) %>
      <% else %>
        Free Agent 
      <% end %>
    </p>
  </div>
  <div class="grid_2">
    <p><%= number_with_precision player.opp %></p>
  </div>
  <div class="grid_2">
    <p><%= player.points %></p>
  </div>
 <div class="grid_2">
   <p><%= number_to_percentage(player.hit_percentage) %></p>
  </div> 
  <div class="grid_2 omega">
    <p><%= player.shots_count %></p>
  </div>
 <div class="grid_2">
   <p><%= player.assholes %></p>
  </div> 
  
<% end %>
</div>
