<div class="grid_16">
<h3>Leaderboard</h3>
  <div class="grid_3 alpha">
    <h6>Name</h6>
  </div>
  <div class="grid_3">
    <h6>Team</h6>
  </div>
  <div class="grid_2">
    <h6><%= sortable "opp", "OPP" %></h6>
  </div>
  <div class="grid_2">
    <h6><%= sortable "points" %></h6>
  </div>
  <div class="grid_3">
    <h6>Hit Percentage</h6>
  </div>
  <div class="grid_3 omega">
    <h6>Last Cups</h6>
  </div>
  <div class="clear"></div>
<% @players.each do |player| %>
  <div class="grid_3 alpha">
    <p><%= link_to player.name, player %></p>
  </div>
  <div class="grid_3">
    <p>
      <% if player.team %>
        <%= link_to(player.team.name, player.team) %>
      <% else %>
        Free Agent 
      <% end %>
    </p>
  </div>
  <div class="grid_2">
    <p><%= number_with_precision player.opp %></p>
  </div>
  <div class="grid_2">
    <p><%= player.points %></p>
  </div>
 <div class="grid_3">
   <p><%= number_to_percentage(player.hit_percentage) %></p>
  </div> 
  <div class="grid_3 omega">
    <p><%= player.last_cups %></p>
  </div>
<% end %>
</div>
