<div class="span-17 colborder">
  <h3><%= @player.user.username %></h3>
  <p>
    <h6><%= @player.team.blank? ? "Free Agent" : link_to(@user.player.team.name, @user.player.team) %></h6>
  </p>
  

  <div id="game_opp"></div>
</div>

<div class="span-6 last">
  <p class="right">
    <%= image_tag @player.avatar.url(:thumb), :width => 230 %>
  </p>
<p class="right">
    <% if can? :update, @player %>
      <%= link_to "Edit Profile", edit_player_path(@player) %> | 
    <% end %>
    <% if can? :manage, @player %>
      <%= link_to "Delete Player", user_path(@player.user), :method => :delete, :confirm => "Are you sure?" %>
    <% end %>
  </p>
  <p>
    <%= RedCloth.new(@player.profile).to_html.html_safe  %>
  </p>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
  new Highcharts.Chart({
  chart: {
  renderTo: 'game_opp',
  defaultSeriesType: 'line'
  },
  title: {
  text: 'Overall Per Game'
  },
  xAxis: {
  
},
yAxis: {
title: {
text: 'Overall'
}
},
tooltip: {
enabled: true,
formatter: function() {
return this.x +': '+ this.y;
}
},
plotOptions: {
series: {
cursor: 'pointer',
events: {
click: function(event) {
window.location.replace("<%=  %>");
}
}
},

line: {
dataLabels: {
enabled: true
},
enableMouseTracking: false
}                        
},
series: [{
name: 'Performance'
                }]
                });


                });

              <% end %>
