<!DOCTYPE html>
<html>
  <head>
    <title>MajorLeaguePong</title>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'application', :cache => true %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'highcharts-2.0.5.min', 'rails', 'application', :cache => true %>
    <%= csrf_meta_tag %>
   </head>
   <body>
     <div class="container_16">
       <div class="grid_16" id="logo">
         <div class="grid_4 alpha">
           <%= link_to (image_tag "BeerPongLogo.jpg", :alt => "Major League Pong", :width => 220), players_path %>
         </div>
         <div class="grid_12 alpha omega">
           <div class="grid_12 omega">
             <h1>Major League Pong</h1>
             <h6><%= fucking_advice[rand(fucking_advice.size)] %></h6>
           </div>
           <div class="clear"></div>
           <div class="grid_12 omega">
             <% if logged_in? and current_user.player %>
               <p>
                 Welcome <%= current_user.player.name %>
               </p>
             <% end %>
           </div>
         </div>
       </div>
       <div class="clear"></div>
       <div class="grid_16" id="navigation">
         
         <%= link_to_unless_current "Graphs", visuals_path %> | <%= link_to_unless_current "Players", players_path %> | <%= link_to_unless_current "Teams", teams_path %> | <%= link_to_unless_current "Games", games_path %> | 
       <% if logged_in? %>
         <% if current_user.player %>
           <%= link_to_unless_current "Edit Profile", edit_player_path(current_user.player) %> 
         <% else %>
            Authorization Required to edit profiles
         <% end %>
         | <%= link_to_unless_current "Logout", logout_path %>
     <% else %>
       <%= link_to "Signup", signup_path %> | <%= link_to "Login", login_path %>
     <% end %>
   </div>
   <div class="clear"></div>
   <% if flash[:alert] %><div class="grid_16"><p class="alert"><%= flash[:alert] %></p></div><div class="clear"></div><% end %> 
   <%= yield %>
   <div class="grid_16" id="footer">
   </div>
 </div>

 </body>
</html>
