<!DOCTYPE html>
<html>
  <head>
    <title>MajorLeaguePong</title>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'application' %>
    <%= favicon_link_tag %>
    <%= javascript_include_tag 'jquery-1.4.3.min', 'jquery-ui-1.8.5.min', 'rails', 'application' %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12479930-4']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
   <body>
     <div class="container_16">
       <div class="grid_16" id="logo">
         <h1>Major League Pong</h1>
         <h6>Have a clear fucking hierarchy</h6>
       </div>
       <div class="clear"></div>
       <div class="grid_16" id="navigation">
         <% if logged_in? %>
           <p>
             Welcome <%= current_user.player.name %>
         </p>
       <% end %>
       <%= link_to_unless_current "Players", players_path %> | <%= link_to_unless_current "Teams", teams_path %> | <%= link_to_unless_current "Games", games_path %> | 
       <% if logged_in? %>
         <%= link_to_unless_current "Edit Profile", edit_player_path(current_user.player) %> | <%= link_to_unless_current "Logout", logout_path %>
       <% else %>
         <%= link_to "Signup", signup_path %> | <%= link_to "Login", login_path %>
       <% end %>
     </div>
     <div class="clear"></div>
     <% if flash[:alert] %><div class="grid_16"><p class="alert"><%= flash[:alert] %></p></div><div class="clear"></div><% end %> 
     <%= yield %>
     <div class="grid_16" id="footer">
     </div>
   </div>

 </body>
</html>
